<section class="py-4">
  <div class="container">
    <div class="form-row align-items-center">
      <div class="col-7 col-md-6">
        <h3 class="fw-300">List of coupons</h3>
      </div>
      <div class="col-5 col-md-6">
        <p class="text-right">
          <button routerLink="/ap/coupon/new" class="btn">+ Create new</button>
        </p>
      </div>
    </div>
    <hr class="mt-0">
    <div class="row my-3">
      <div class="col ">
        <div class="form-row justify-content-between align-items-center">
          <div class="col d-inline-block" style="width: 250px;">
            <input type="text" placeholder="search" class="form-control" [(ngModel)]="searchKey"
              (keyup)="filterCoupons(searchKey)">
          </div>
          <div class="search-button col d-inline-block" style="width: 50px">
            <a href="javascript:void(0)" class="text-danger" style="font-size: 28px; line-height: 28px"
              [ngClass]="searchKey.length > 0 ? 'disabled':''" (click)="resetFilter()">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col text-right">
        <ngb-pagination [collectionSize]="coupons.length" [(page)]="page" [pageSize]="10" [maxSize]="8" [rotate]="true"
          [ellipses]="false" class="d-flex justify-content-end"
          [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3" *ngFor="let coupon of dispCoupons">
        <div class="coupon" routerLink="/ap/coupon/edit/{{coupon.uid}}">
          <div class="d-block mb-2 text-primary">{{coupon.title}}</div>
          <div class="d-block text-muted">
            <small>
              <i class="material-icons" style="font-size: 15px; line-height: 1.5; vertical-align: -4px">event</i>
              {{coupon.created | date:'medium'}}
            </small>
          </div>
          <div class="d-block">
            <small>
              <i class="material-icons" style="font-size: 15px; line-height: 1.5; vertical-align: -4px">create</i>
              {{coupon.updated | date:'medium'}}
            </small>
          </div>
          <div class="d-block">
            <small class="bg-success pl-2 pr-3 py-2 text-white">
              <i class="material-icons mr-2" style="font-size: 15px; line-height: 1.5; vertical-align: -4px">queue</i>
              Avl: {{coupon.avlQty}}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>